# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production
.env.local

# OS files
.DS_Store
Thumbs.db

# temp scripts
convert_keep_to_markdown.py
